* {
  padding: 0;
  margin: 0;
}

:root {
  --light-bg: #eeeeee;
  --dark-bg: #222831;
  --grey-bg: #393E46;
  --blue-bg: #00ADB5;
}

body {
  font-family: 'Roboto', sans-serif;
  background-image: url('../images/footerlogin.png');  
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: contain;
  background-color: var(--light-bg);
  height: 100vh;
  overflow: auto;
}

.jm_contenedor_principal {
  width: 90%;
  height: 500px;
  padding: 5% 10%;
  background: var(--light-bg);
  display: flex;
	max-width: 75rem;
  max-height: 75rem;
}

.jm_contenedor_interno {
  background: var(--light-bg);
  width: 90%;
  margin: 20px;
}

.jm_contenedor_secundario_izquierdo {
  width: 90%;
  margin: 20px;
  padding-top: 3%;
  padding-bottom: 3%;
  background-color: gainsboro;
}

.jm_titulo {
  background-color: var(--blue-bg);
  padding: 5%;
  color: var(--light-bg);
}

.jm_tabulado{
  padding-left: 10%;
}

.jm_contenedor_secundario_derecho {
  width: 90%;
  margin: 20px;
  padding-top: 30%;
  padding-bottom: 5%;
  text-align:center;
}