* {
  padding: 0;
  margin: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');
:root {
  --light-bg: #eeeeee;
  --dark-bg: #222831;
  --grey-bg: #393E46;
  --blue-bg: #00ADB5;
}

body {
  font-family: 'Roboto', sans-serif;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: var(--light-bg);
  height: 90vh;
  background-image: url('../images/plantilla-login-.png');
}

.contenedor_principal {
  width: 90%;
  height: 500px;
  border: 50px solid rgba(0, 0, 0, 0.1);
  padding: 5% 10%;
  background: var(--dark-bg);
  background-clip: padding-box; 
  display: flex;
  justify-content: center;
	max-width: 75rem;
  max-height: 75rem;
  
}

.contenedor_interno {
  background: var(--light-bg);
  width: 90%;
  margin: 20px;
}

.contenedor_secundario_izquierdo {
  width: 90%;
  margin: 20px;
  padding-top: 3%;
  padding-bottom: 3%;
  background-color: gainsboro;
}

.titulo {
  background-color: var(--blue-bg);
  padding: 5%;
  color: var(--light-bg);
}

.tabulado{
  padding-left: 10%;
}

.contenedor_secundario_derecho {
  width: 90%;
  margin: 20px;
  padding-top: 30%;
  padding-bottom: 5%;
  text-align:center;
}