@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');
:root {
  --light-bg: #eeeeee;
  --dark-bg: #222831;
  --grey-bg: #393E46;
  --blue-bg: #00ADB5;
}

body {
  font-family: 'Roboto', sans-serif;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: var(--light-bg);
  height: 90vh;
  background-image: url('../images/plantilla-login-.png');
}

.padre {
  background: var(--dark-bg);
  display: flex;
  justify-content: center;
  margin: 0 auto;
	width: 90%;
  height: 90%;
	max-width: 75rem;
  max-height: 75rem;
  
}

.hijo {
  background: var(--light-bg);
  width: 90%;
  padding: 20px;
  margin: 20px;
}

.titulo {
  background-color: var(--blue-bg);
}