*{
  margin: 0px;
  padding: 0px;
  list-style: none;
  text-decoration: none;
  box-sizing: content-box;
  font-family: 'open sans', sans-serif;
}
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');
:root {
  --light-bg: #eeeeee;
  --dark-bg: #F0A500;
  --grey-bg: #344857;
  --blue-bg: #092133;
  --black-bg: #000000;
}

body{
  background-color: var(--blue-bg);
  
  
}

/* .mainContainer { 
    height: 100%; 
    display: flex; 
    overflow-y: hidden;
       
 } */

/* estilos del header */
header {
  height: max-content; /* toma el tamaño de su contenido a lo largo */
  margin: auto; /* mantiene el div centrado con respecto a su padre*/
  align-items: flex-end; /* centra vertical*/
  overflow-y: visible; /* mantiene los elemnto dentro del contenedor*/
  display: flex;
  background-color:var(--grey-bg);
  color: var(--blue-bg);  
  margin: 11px;
  padding: 40px;  
}

/* estilos del navbar */

/* .principal{
  margin: 5px;
  display: flex;  
  height: max-content;
  margin:auto;
  
} */

/* .topNavBar{
  margin: auto;
  margin: 10px;
  display: flex;
  background-color: rgb(18, 228, 175);
  margin: px;
  align-items: center;
} */

.iconCompany img{
  display: flex;
  height: max-content;
  margin-left: 14px;
}

.botonHeader{
  align-items: flex-end;
  display: flex;
  position: absolute;
  right: 80px;
  top: 123px; 
  
}

.botonHeader p{
  display: flex;
  margin: auto;
  border-left: 1px solid var(--blue-bg);
  border-radius: 1px;
  font-size: 10px;
  padding: 0px 7px 70px 7px;
  /* margin: 7px; */
  background-color: var(--light-bg);

}

/* ********************** */

/* estilos del .sidebar */
.sidebar {
  display: flex;
  height: max-content;
  position: absolute;
  width: 220px;
  margin: 201px 0px 10px 11px;
  background-color:var(--light-bg);
  color: #092133;
  
}

.EncabezadoModulo{
  justify-content: center;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 30px;
}

.iconoEncabezado{
  text-align: center;
}

.wrapper .sidebar .EncabezadoModulo h4{
  text-align: center;
  color: var(--blue-bg);
  padding-top: 20px ;
  font-size: 17px;
}

.EncabezadoModulo ul{ 
  justify-content: flex-start;
  
}

.wrapper .sidebar ul li{
  display: block;
  padding: 20px 35px;
  border-bottom: 1px solid var(--blue-bg);
  position: relative;
}

/* .sidebar .div {
  padding: 50px;
  font-size: 24px;
  display: block;
  background-color: violet;
} */

/* estilos del body */

.cargando{
  margin-left: 300px;
  margin-top:20px ;
}

.body-text {
  display: block;
  float: right;
  width: 79%;
  height: 1000px;
  color: var(--light-bg);
  background-color : var(--blue-bg);
  padding: 0%;
  margin: auto;
  margin-right: 11px;
  margin-top: -4px;
  flex-direction: row;
}

.body-text .rp_titulo{
  background-color: var(--grey-bg);
  color:var(--light-bg);
  text-align:center;
  font-weight: bold;   
  padding: 2%;
}

.boton_1{
  margin: 11px;
  width: 250px;
  padding:  10px;
  font-size: 1em;
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: var(--blue-bg);
  border: none;
  border-radius: 5px;
  background-color: var(--light-bg);
  cursor: pointer;
}

.rp_formulario{
  display: flexbox;
  justify-content: space-between;
  margin: auto;
  
}

.rp_subtitulo{
  width: 100%;
  background-color: var(--grey-bg);
  margin-top: 5px;
  margin-right: 11px; 
  height: 0%;
  color:var(--light-bg);
  text-align:center;
  font-weight: bold;
}

.table{
  border: 1px solid var(--blue-bg);
  margin-top: 11px;
  height: max-content;
  color: var(--blue-bg);
  background-color: var(--light-bg);
  /* font-size: 11px; */
  text-align: left;
}

.table thead th {
  font-size: 9px;
  border-right: 1px solid var(--blue-bg);
 
}

.proyectos{
  background-color:var(--ligth-bg);
  padding: 2px;
  border: 2px ;
}

tbody tr td{
  font-size: 9px;
  border-bottom: 1px solid var(--blue-bg);
}

/* .unpocomas .footer{
  margin: auto;
  position: absolute;
  bottom: 0px;
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: rgb(163, 33, 33)  ;
} */
  /* .footer{
    padding: 20px;
    display: flex;
    justify-content: center;
    width: 70%;
    height: 50px;
    display:flex;
    position:absolute;
    /* top: 400px; */
    /* bottom:0px; */
    /* margin-top: 100px;  */
/* } */

/* .footer p{
  background-color: violet;
} */

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color:var(--grey-bg);
  color: white;
  text-align: center;
}