*{
  margin: 0px;
  padding: 0px;
  list-style: none;
  text-decoration: none;
  box-sizing: content-box;
  font-family: 'open sans', sans-serif;
}
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');
:root {
  --light-bg: #eeeeee;
  --dark-bg: #F0A500;
  --grey-bg: #344857;
  --blue-bg: #092133;
  --black-bg: #000000;
}

body{
  background-color: var(--light-bg);
}

.botonHeader h1{
  color: var(--dark-bg);
  float: right;
}

 .mainContainer {
   
    /* display: flex; */
    flex-direction: column;
    /* background-color: var(--light-bg); */
  }

  .mainContainer > main {
    overflow-y: scroll;
  }

/* estilos del header */
header {
  height: max-content; /* toma el tamaño de su contenido a lo largo */
  margin: auto; /* mantiene el div centrado con respecto a su padre*/
  align-items: flex-end; /* centra vertical*/
  /* overflow-y: visible;    mantiene los elemnto dentro del contenedor */
  display: flex;
  background-color:var(--grey-bg);
  color: var(--blue-bg);  
  margin: 11px;
  padding: 20px 0px 30px 40px;  
}

.iconCompany{
  width: 80%;
}

.iconCompany img{
  display: flex;
  height: max-content;
  margin-left: 14px;
}

.botonHeader{  
  display: flex;
  
  width: 150px;
  height: 50px;
  
}

.botonHeader li a{
  display: flex;
  margin-top: 11px;
  padding: 11px 11px 50px 11px; 
  color: var(--dark-bg);
  font-size: 14px;
  
}

.botonHeader li a:hover,
.botonHeader li a.active{
    color: var(--blue-bg);
    background: var(--dark-bg);
    border-right: 2px solid var(--blue-bg);
}

.header-inicio {
  height: max-content; /* toma el tamaño de su contenido a lo largo */
  margin: auto;/* mantiene el div centrado con respecto a su padre*/
  display: block ;
  background-color:var(--grey-bg);
  color: var(--blue-bg);  
  /* padding: 20px;  */
  
}

.iconCompanyInicio img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-block: 30px;
}

.botonHeaderInicio{
  justify-content: center;
  display: flex;
}

.botonHeaderInicio li a{
  display: flex;
  margin-top: 11px;
  padding: 11px 11px 50px 11px; 
  color: var(--light-bg);
  font-size: 14px;
  
}

.botonHeaderInicio li a:hover,
.botonHeaderInicio li a.active{
    color: var(--black-bg);
    background: var(--dark-bg);
    border-right: 2px solid var(--blue-bg);
}
/* ********************** */
/* estilos del .sidebar */

/* @media (max-width:600px) {
  .sidebar{
    display: none;
}
} */

.sidebar {
  position: absolute;
  margin-left: 11px;
  display: block;
  height: 100%;  
  width: 17%;  
  background-color: var(--grey-bg);
}

.iconoEncabezado{
  text-align: center;
  margin-top: 20px;
  margin-bottom: 10px;
  color: var(--dark-bg);
}

.sidebar h4{
  text-align: center;  
  padding: 20px ;
  font-size: 12px;
  margin-bottom: 11px;
  margin-top: 11px;
  font-weight: bold;
  font-kerning: 50px;
  line-height: 17px;
  height: 100%;
}

.sidebar ul{ 
  justify-content: flex-start;  
}

.sidebar ul li a{
  display: block;
  padding: 20px 35px;
  border-bottom: 1px solid var(--light-bg);
  color: white;
  font-size: 16px;
  
}

.sidebar ul li a:hover,
.sidebar ul li a.active{
    color: var(--blue-bg);
    background: var(--dark-bg);
    border-right: 2px solid var(--light-bg);
}

/******************************/
/* estilos del body */

.body-text{
  height: 100%;
  width:100%;
}

.contenedor-body{
  background-color: var(--light-bg);
  display: block;
  float: right;
  width: 80%;
  height: 100%;
  margin-inline: 11px; 
  padding: 5px; 
}

.editarusuario {
  line-height: 23px;
  border-radius: 10px;
  margin: auto;
  padding: 20px;;
  width: max-content;
  height: 100%;
  background-color: var(--grey-bg);
  color: var(--light-bg);
  
}

.entrada-avances{
  line-height: 33px;
  border-radius: 10px;
  margin: 11px;
  padding: 20px;;
  width: max-content;
  height: 100%;
  background-color: var(--grey-bg);
  color: var(--light-bg);  
}

.entrada-avances td{  
  padding: 3px;
}

.boton_3 a{
  border: none;
  border-radius: 4px;
  color: var(--blue-bg);
  background-color: var(--light-bg);
  padding: 5px;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: bold
}

.boton_3:hover a {
  background-color: var(--dark-bg);
}


.label {
  color: var(--dark-bg);
}

.boton_3{
  /* padding: 3px;
  text-transform: uppercase;
  color: var(--grey-bg);
  border: none;
  border-radius: 5px;
  background-color: var(--light-bg);
  cursor: pointer;
  font-weight: bold; */
}

.boton_3:hover {
  background-color: var(--dark-bg);
}


.editarusuario .datos{
  color: var(--light-bg);
}

.editar-perfil{
  /* margin: 11px; */
  margin:auto;
  /* color: #000000; */
}


.registro-proyectos table{
  /* text-align: center; */
  margin:auto
  
}

.registro-proyectos td{
  color: var(--blue-bg);
  padding: 7px;
}

.registro-proyectos td input{
  width: 100%;
  height: 22px;
}

.cambios-estado-admon td{
  padding: 7px;
}

.cambios-estado-admon td input{
  width: 100%;
  height: 22px;
}

.rp_subtitulo h1{
  margin-left: 10px;
  font-size: 11px;
}

.rp_titulo{
  text-align: left;
  background-color: var(--grey-bg);
  color:var(--dark-bg);  
  font-weight: bold;   
  padding-block: 11px;
  padding-inline-start: 19px;
}

.boton_1{
  margin: 11px;
  padding:  10px;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  color: var(--light-bg);
  border: none;
  border-radius: 5px;
  background-color: var(--grey-bg);
  cursor: pointer;
}

.boton_1:hover {
  background-color: var(--dark-bg);
}
.boton_1 a{
  margin: 11px;
  padding:  10px;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  color: var(--light-bg);
  border: none;
  border-radius: 5px;
  background-color: var(--grey-bg);
  cursor: pointer;
}

.boton_1:hover a{
  background-color: var(--dark-bg);
}
.boton_2{
  margin: 2px;
  padding:  7px;
  font-size: 9px;
  /* font-weight: bold; */
  text-transform: uppercase;
  color: var(--light-bg);
  border: none;
  border-radius: 5px;
  background-color: var(--grey-bg);
  cursor: pointer;
}

.boton_2:hover {
  background-color: var(--dark-bg);
}
.boton_2 a{
  margin: 2px;
  padding:  7px;
  font-size: 9px;
  /* font-weight: bold; */
  text-transform: uppercase;
  color: var(--light-bg);
  border: none;
  border-radius: 2px;
  /* background-color: var(--grey-bg); */
  cursor: pointer;
}

.boton_2 a :hover {
  background-color: var(--dark-bg);
  color: var(--blue-bg);
}

.boton-usuarios a{
  margin-right: 9px;
  padding: 1px;
  border-radius: 3px;
  color: var(--grey-bg);
  /* background-color: var(--grey-bg); */
}

.boton-usuarios a:hover {
  background-color: var(--dark-bg);
}

.rp_subtitulo{
  padding-block:11px ;
  padding-inline-start: 19px;
  background-color: var(--grey-bg);
  margin-top: 5px;
  color:var(--dark-bg);
  text-align:left;
  font-weight: bold;
  font-size: 17px;
}

.rend_Dinamica{
  margin-top: 2px;
  margin-left: auto;
  width: 100%;
  color:var(--blue-bg);
}

.cargando{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70px;
  height: 70px;
  border: 10px solid #eee;
  border-top: 10px solid #092133;
  border-radius: 50%;
  animation-name: girar;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@keyframes girar {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.cambios-estado-admon{
  font-size: 17px;;
}
.perfil{
  width: 30%;
  margin: auto;
  /* background-color: yellowgreen; */
  padding: 15px;
  
}

.perfil tbody {
  /* background-color: violet; */
}

.perfil tbody tr td{
  margin: 11px;
  padding: 11px;
  border-radius: 8px;
}

.dato_1{
  background-color: var(--grey-bg);
  color: var(--light-bg);
}

.table{
  border: 1px solid var(--blue-bg);
  margin-top: 11px;
  margin-bottom: 66px;
  height: max-content;
  width: 100%;
  color: var(--blue-bg);
  background-color: var(--light-bg);

}

.table thead th {
  padding-block: 5px;
  text-size-adjust: 10px;
  text-align: center;
  color: var(--light-bg);
  background-color: var(--grey-bg);
  font-size: 10px;
  border-right: 1px solid var(--blue-bg);
  border-bottom: 1px solid var(--blue-bg);
 
}

.proyectos{
  background-color:var(--ligth-bg);
  padding: 2px;
  border: 2px ;
}

tbody tr td{
  font-size: 10px;
  border-right: 1px solid var(--blue-bg);
  border-bottom: 1px solid var(--blue-bg);
  padding-block: 2px;
}

.footer {
  padding: 11px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: max-content;
  background-color:var(--grey-bg);
  color: white;
  text-align: center;
}

/*estilos del loguin*/

.contenedorfoto{
  font-family: 'Roboto', sans-serif;
  background-image: url('../media/ImagenPrincipal.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-color: var(--light-bg);
  height: 100vh;
  overflow: auto;
}

.login h1{
  color: var(--light-bg);
}

.login{
  padding: 22px;
  width:max-content;
  display: block;
  margin-top: auto;
  justify-content: center;
  background-color:var(--grey-bg);
  position: fixed;
  top: 17%;
  right: 23%;
  border-radius: 9px;
  
}

.login img{  
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 11px;
    
}

.editar-perfil span{
  padding: 7px;
  height: 7px;
  font-size: 15px;
  /* width: max-content; */
  /* background-color: var(--grey-bg); */
  width: 100%;
  height: 22px;
  

}

.logueo{
  font-size: 17px;
  color: var(--blue-bg);
  margin: 7px;
  padding: 3px;
}

.logueo1{
  font-size: 17px;
  color: var(--dark-bg);
  margin: 7px;
  padding-block: 5px;
}

.editar-perfil span  {
  background-color: var(--grey-bg);
  color: var(--light-bg);
  padding: 11px;
}

.logueo p {
  color: var(--dark-bg);
  padding-inline: 8px;
  padding-block: 6px;
}

.logueo p .input {
  width: 150px;
  display: block;
  font-size: 14px;
  color: var(--blue-bg);
  background-color: var(--light-bg);
  border-radius: 5px;
}



.input {
  width: 100%;
  height: 30px;
  font-size: 11px;
  margin-bottom: 8px;
  border: none;
  font-weight: 400;
  border-radius: .3em;
  box-sizing: border-box;
  background-color: var(--light-bg);
}

.logueo button {
  background-color: var(--light-bg);
  margin-left: 7px;
  font-size: 10px;
  margin-block: 8px;
  padding: 7px;
  border-radius: .3em;
  color: var(--blue-bg);
  cursor: pointer;
  text-transform: uppercase;
}

.botonlogin{
  padding-block: 8px;
  width: 100%;
  text-transform: uppercase;
  color: var(--light-bg);
  border: none;
  border-radius: 5px;
  background-color: var(--blue-bg);
  cursor: pointer;
}


.abrircuenta{
  font-size: 12px;
  padding-block: 5px;
  color: var(--light-bg);
  
}

.registroLogin span{
  font-size: 15px;
  color: var(--dark-bg);  
}

/* ********* -------*********/

/*Estilos index-body*/

.Body-index {  
  margin: auto;
  /* background-color: var(--grey-bg); */
  width: 50%;
  padding: 11px 11px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.square{  
  padding: 24px;
  margin: auto;
  display: grid;
}

.square a{
  display: block;
  color: var(--grey-bg);
  font-size: 16px;
  
}

.square a:hover,
.square a.active{
    color: var(--dark-bg);
        
}

.quimbaya{
  text-align: center;
  margin: auto;
}

.square p{
  font-weight: bold;
  margin-top: 20px;
  color: var(--blue-bg);
  text-align: center;
}

.salirIndex{
  color: var(--blue-bg);
}



