*{
  margin: 0px;
  padding: 0px;
}

.header {
  width: 100%;
  padding: 60px;
  text-align: center;
  background: #1abc9c;
  color: white;
  font-size: 30px;
}

.body-text {
  margin-left: 150px;
  font-size: 18px;
}

.sidebar {
  height: 100%;
  width: 150px;
  position: absolute;
  left: 0;
  top: 20;
  padding-top: 40px;
  background-color: lightblue;
}
  
.sidebar div {
  padding: 8px;
  font-size: 24px;
  display: block;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: red;
  color: white;
  text-align: center;
}