*{
    list-style: none;
    text-decoration: none;
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'open sans', sans-serif;
}

@media (max-width:600px) {
    .sidebar{
        display: none;
    }
}



@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');
:root {
  --light-bg: #eeeeee;
  --dark-bg: #222831;
  --grey-bg: #393E46;
  --blue-bg: #00ADB5;
}

header {
    background-color: var(--blue-bg);
    color: var(--light-bg);
    text-align: right;
    flex-direction:column-reverse;
    padding: 8px;
}

body{
    background: #999a9b;
}

.wrapper .sidebar{
    background: #ffffff ;
    position:fixed;
    top:0;
    left:0;
    width: 20%; /*Cambio Rocio 6oct*, antes 250px*/
    height: 100%;
    padding: 0px 0;
    transition: all 0.5s ease;
}

.wrapper .sidebar .EncabezadoModulo{
    margin-top: 50px;
    margin-bottom: 30px;
    text-align: center;
}

.wrapper .sidebar .EncabezadoModulo .icon{
    color:var(--blue-bg);
}

.wrapper .sidebar .EncabezadoModulo h5{
    color: var(--blue-bg);
    padding-top: 20px ;
    margin: 1px 0 50px;
}

.wrapper .sidebar ul li a{
    display: block;
    padding: 20px 35px;
    border-bottom: 1px solid var(--light-bg);
    color: var(--grey-bg);
    font-size: 16px;
    position: relative;
}

.wrapper .sidebar ul li a:hover,
.wrapper .sidebar ul li a.active{
    color: var(--light-bg);
    background: var(--blue-bg);
    border-right: 2px solid var(--light-bg);
}

.wrapper .principal{
    margin-left: 20%; /*Cambio Rocio 6oct*/
    transition: all 0.5s ease;
}

.wrapper .principal .topNavBar{
    background-color: var(--grey-bg);
    height: 80px;
    display :flex;
    justify-content:space-between;
    padding: 0 15px;
}

.wrapper .principal .topNavBar .iconCompany img{
    position:relative;
    top:15%;
}

.wrapperFull .principal .topNavBar{
    background-color: var(--grey-bg);
    height: 80px;
    display :flex;
    justify-content:space-between;
    padding: 0 15px;
}

.wrapperFull .principal .topNavBar .iconCompany img{
    position:relative;
    top:15%;
}

.wrapper .principal .topNavBar .hamburger a{
    font-size: 20px;
    color:var(--light-bg);
    position:relative;
    top:35%;
}

.wrapper .principal .topNavBar .hamburger a:hover{
    color:var(--blue-bg);
}

/*activacion del hamburguer*/
    body.active .wrapper .sidebar{
    left: -300px;
}

body.active .wrapper .principal{
    margin-left: 0;
    width: 100%;
}
            
.wrapper .principal .footer{
    background-color: var(--light-bg);
    height: 50px;
    display:flex;
    position:fixed;
    bottom:0px;
    margin-left: 0px;
}

.wrapper .Menu {
    width:max-content;
    height: 700px;
    width: 100%;
    flex-direction: row;
    color: var(--grey-bg);
    background-color : var(--light-bg);
    padding: 0%;
    margin: auto; 
}

.wrapper .principal .Menu .rp_titulo{
    background-color: var(--blue-bg);
    padding: 2%;
    color:var(--light-bg);
    text-align:center;
    font-weight: bold;   
}
    
.wrapper .principal .Menu .rp_subtitulo{
    background-color: var(--grey-bg);
    margin-top: 2%;
    margin-left: 2%; /*Modifico Rocio 6oct*/
    margin-right: 2%; /*Modifico Rocio 6oct*/
    height: 0%; /*Modifico Rocio 6oct*/
    color:var(--light-bg);
    text-align:left;
    font-weight: bold;
}

.rend_Dinamica{ /*Incluyo Rocio 6oct*/
    margin-top: 2%;
    margin-left: auto;
    width: 95%;
    color:var(--grey-bg);
}

.edit  a + a {
    color:var(--grey-bg);
    padding-left: 2em;
} 

.wrapper .principal .Menu .rp_formulario{
    margin-top: 2%; /*Incluyo Rocio 7oct*/
    margin-left: 3%;  /*Incluyo Rocio 6oct*/
    color:var(--grey-bg);
}


.boton_m {
  width: 250px;
  height: 2rem;
  font-size: 1em;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: var(--light-bg);
  border: none;
  border-radius: 5px;
  background-color: var(--grey-bg);
  cursor: pointer;
}

.boton_m:hover {
  border: 2px solid var(--blue-bg);
  background-color: #00ADB5;
}


.boton2 {
    width:12em;
    height: 3.125rem;
    font-size: 1em;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: var(--light-bg);
    border: none;
    border-radius: 5px;
    background-color: var(--grey-bg);
    cursor: pointer;
  }
  
  .boton2:hover {
    border: 2px solid var(--blue-bg);
  }
  
  

.tabla{
    border-collapse: separate;
    border-spacing: 80px 20px;
    font-weight: 600;
    position:relative;
    left: 15%;
}

.input_m {
    width: 100%;
    height: 2.3rem;
    font-size: 1em;
    padding-left: 10px;
    border: none;
    border-radius: 5px;
    font-weight: 400;
    letter-spacing: 1px;
    box-sizing: border-box;
  }


  .select{
    display: block;
    font-size: 16px;
    font-weight: 400;
    color: #444;
    padding: .4em 1.4em .3em .8em;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #aaa;
    box-shadow: 0 1px 0 1px rgba(0,0,0,.03);
    border-radius: .3em;
    background-color: #fff;
  }

  .pt-1 .pe-2{
    flex-basis : 30%;
  }

  .me-3{
    flex-basis : 30%;
  }

tfoot{
    text-align: center;
}

.table{
position: relative;
margin-top: 2%;
margin-left: 5%;
width: 90%;
}

.tabla_{
    border-collapse: separate;
    border-spacing: 80px 20px;
    font-weight: 600;
    position:relative;
    left: 10%;
    align-items: top;
    
}
.btn-info{
    background-color: #00ADB5 !important;
    
}